*{
    margin: 0;
    padding: 0;
}

.top_navigation{
    width: 100%;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav{
    top: 0;
    border: #E5E4E2;
    padding: 20px;
    background-color:#E5E4E2;
    font-size: 20px;
    position: sticky;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #8A9A5B;
    box-shadow: 0px 0px 10px #888;
    
}

#body{
    background-color: #D3D3D3;
    font-family: 'Montserrat', sans-serif;
}

nav ul{
    text-align: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

nav ul li{
    
    position: relative;
    display: inline-block;
}

/* logo image styleing  */
nav ul .logo li a img{
    position:absolute;
    top:-10px;
    right:600px;
    width: auto;
    height: 80px;        
}

.logo {
    position: relative;
}


.content{
    position:relative;
    top: -12px;
    margin-left: 40px 
}


nav ul li a{
    padding: 10px 15px;
    text-decoration: none;
    color: #8A9A5B;
    transition: background-color 0.3s;
}

nav ul li input{
    padding: 10px 20px ;
    width: 300px;
    text-decoration: none;
    color: #8A9A5B;
    font-size: large;
    border: 2px solid #E5E4E2;
    border-radius: 10px;
    /* text-align: center; */
    height: 15px;
}

nav ul li input:focus {
    outline: none;
    border: 2px solid #8A9A5B;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: #353935;

}

::-webkit-scrollbar-thumb{
    border-radius: 0px;
    width: 10px;
    background-color:#E5E4E2;
}

nav ul li a:hover{
    color:	#818589;
}

/* styling quick navigation*/

.qnav{
    
    /* box-shadow: 0px 0px 10px #8A9A5B; */
    margin-right: 10px;
    width: auto;
    height: 304px;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 12px;
    text-align: center;   
    margin-top: 0px;
    background-color: #E5E4E2;
    font-weight: bolder;
    color: #8A9A5B;
}

.qnav h3{
    padding-top: 10px;
    font-size: 28px;
    margin-bottom: 20px;
}

.qnav ul li{
    list-style: none;
}

.qnav ul li{
    margin-bottom: 10px;
    text-align: left;
    list-style: none;

}

.qnav ul li a{
    font-size: larger;
    text-decoration: none;
    color: #8A9A5B;
    margin-bottom: 0;

}

.qnav ul li a:hover{
    text-decoration: none;
    color: 	#818589;
}

/* styling the body */

.offers{
    height: 325px;
    /* border: 1px solid; */
    vertical-align: middle;
    display: inline-block;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
}

.offers-slide{
    animation: 10s slide infinite linear;
    display: inline-block;
}


.offers-slide img{
    height: 325px;
    width: auto;
    margin: 0 10px;
}

@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }

}

.bdy{
    margin-top: 40px;
    float: initial;
    padding-left: 40px;
}
.bdy .items ul li{
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    list-style: none;
    font-size: larger;
    font-weight: bold;
}

.bdy .items ul li a{
    text-decoration: none;
    color: #8A9A5B;
    margin-bottom: 0;
}


.bdy .items ul li a:hover{
    text-decoration: none;
    color: 	#818589;
}

.bdy .items ul li ul li a img{
    
    margin: 5px;
    width: 280px;
    height: 180px;
    border-radius: 5px;
}

.bdy .items ul li ul li a img:hover{
    margin: 5px;
    width: 280px;
    height: 180px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #888;
    transition: fade 2.02s;
}

.bdy .items ul li ul li a{
    position: relative;
    display: inline-block;
    margin: 0px 0px 2px 4px;
}
.bdy .items ul li ul li a figcaption{
    text-align: center;
    font-size: medium;
    color: #353935;
    white-space: nowrap;
    /* border: 2px solid; */
    overflow: hidden;
}

.bdy .items ul li ul li{
    position: relative;
    display: inline-block;  
}

.fotter{
    height: fit-content;
    text-align: center;
    background-color: 	#E5E4E2;
    padding: 20px;
    font-weight: bolder;
    color: #8A9A5B;
}

.fotter ul li{
    text-align: center;
    position: relative;
    display: inline-block;
}

.fotter ul li a{
    text-decoration: none;
    color: #8A9A5B;
    margin-bottom: 0;
    font-size: 30px;
}

.fotter ul li a:hover{
    text-decoration: none;
    color: 	#818589;
}

.fotter ul li {
    padding: 8px;
}


/* item styling */
.object{
    font-family: 'Montserrat', sans-serif;
}

.bdy .ite .object img{
    display: inline-block;
    background-color: white;
    width: 340px;
    height: 320px;
}

.bdy .ite .object button{
    width: 340px;
    border: none;
    background-color: #8A9A5B;
    font-size: 25px;
    padding: 10px;
    height: auto;
}

.bdy .ite .object button:hover{
    width: 340px;
    border: none;
    background-color: #8A9A5B;
    font-size: 25px;
    padding: 10px;
    height: auto;
    opacity: 0.8;
    transition: 10ms;
    cursor: pointer;
}

.ite{
    /* border: 1px solid #8A9A5B; */
    background-color: #E5E4E2;
    width: 1275px;
}

.bdy .ite .object{
    display: inline-block;
    vertical-align: top;
}

.bdy .ite .specs {
    /* border: 2px solid; */
    display: inline-block;
    /* background-color: white; */
    padding: 15px;
}

.bdy .ite .specs ul{
    list-style: none;
}

.bdy .ite .specs ul li p{
    width: 900px;
}


/* Popup container */
#popupForm{
    display: none;
    background-color: rgba(0,0,0,0.4);
    width: 600px; 
    font-size: large;
}

/* Popup content */
.popup-content {
    background-color: #fefefe;
    /* margin: 5% auto; */
    padding: 20px;
    /* border: 1px solid #888; */
}

.popup .popup-content .deliver input[type="tel"]{
    padding: 10px;
    margin-bottom: 10px;
    width: 200px;
    text-decoration: none;
    color: #8A9A5B;
    font-size: large;
    border: 2px solid #E5E4E2;
    border-radius: 0px;
    height: 15px;
}

.popup .popup-content .deliver input[type="tel"]:focus {
    outline: none;
    margin-bottom: 10px;
    border: 2px solid #8A9A5B;
}

.popup .popup-content .deliver input[type="text"], input[type="email"]{
    padding: 10px;
    width: 300px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #8A9A5B;
    font-size: large;
    border: 2px solid #E5E4E2;
    border-radius: 10px;
    height: 15px;
}

.popup .popup-content .deliver input[type="text"]:focus, input[type="email"]:focus{
    outline: none;
    margin-bottom: 10px;
    border: 2px solid #8A9A5B;
}

.popup .popup-content .deliver select{
    padding: 10px;
    width: 180px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #8A9A5B;
    font-size: large;
    border: 2px solid #E5E4E2;
    border-radius: 10px;
}

.popup .popup-content .deliver #pass{
    width: 150px;
    margin-bottom: 10px;
    border: none;
    background-color: #8A9A5B;
    font-size: 20px;
    padding: 10px;
    height: auto;
}

.popup .popup-content .deliver #pass:hover{
    width: 150px;
    border: none;
    background-color: #8A9A5B;
    font-size: 20px;
    padding: 10px;
    height: auto;
    opacity: 0.8;
    transition: 10ms;
    cursor: pointer;
}

.address-bar{
    padding-top: 20px;
    text-align: left;
}

.informationbar{
    word-spacing: 10;
    letter-spacing: 10;
    text-align: left;
}

.btnfld{
    margin-left: 20px;
    padding-top: 20px;
}

.popup .popup-content .deliver #close{
    width: 150px;
    margin-bottom: 10px;
    border: none;
    background-color: #8A9A5B;
    font-size: 20px;
    padding: 10px;
    height: auto;
}

.popup .popup-content .deliver #close:hover{
    width: 150px;
    border: none;
    background-color: #818589;
    font-size: 20px;
    padding: 10px;
    height: auto;
    opacity: 0.8;
    transition: 10ms;
    cursor: pointer;
}

.col_btn{
    border: 2px  solid black;
    padding: 2px;
}